DATABASE_URL=postgresql://postgres.mxcntpwcspuusvzlbdri:Wilcar1066865142@aws-1-us-east-1.pooler.supabase.com:5432/postgres

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im14Y250cHdjc3B1dXN2emxiZHJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2OTI2ODcxMSwiZXhwIjoyMDg0ODQ0NzExfQ.nLiYb2NieQlcEx4cukWyE2prjt1aCZ-xxA9te7I5AJ4
SUPABASE_URL=https://mxcntpwcspuusvzlbdri.supabase.co

SUPABASE_JWKS_URL=https://mxcntpwcspuusvzlbdri.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_ISSUER=https://mxcntpwcspuusvzlbdri.supabase.co/auth/v1

URL_LOCAL=http://localhost:3000




1. USERS → ROLES → PERMISSIONS. 
2. STUDENTS / TEACHERS
3. SUBJECTS / SEMESTERS

4. CLASS_GROUPS
5. CLASS_DAYS / ENROLLMENTS
6. CLASS_SESSIONS
7. ATTENDANCES
8. MENU_ITEMS




















import {
  BadRequestException,
  Injectable,
  NotFoundException,
} from '@nestjs/common';
import { CreateClassGroupDto } from './dto/create-class-group.dto';
import { ClassGroup } from './entities/class-group.entity';
import { InjectRepository } from '@nestjs/typeorm';
import { EntityManager, Repository } from 'typeorm';
import { SemesterService } from 'src/academic/semester/semester.service';
import { SubjectsService } from 'src/academic/subjects/subjects.service';
import { TeacherService } from 'src/users/teacher/teacher.service';
import { isUUID } from 'class-validator';

@Injectable()
export class ClassGroupsService {
  constructor(
    @InjectRepository(ClassGroup)
    private readonly classGroupRepo: Repository<ClassGroup>,
    private readonly semesterService: SemesterService,
    private readonly subjectService: SubjectsService,
    private readonly teacherService: TeacherService,
  ) {}

  async create(createClassGroupDto: CreateClassGroupDto): Promise<ClassGroup> {
    const { code, name, subject_id, semester_id, teacher_id, max_students } =
      createClassGroupDto;

    const existing = await this.classGroupRepo.findOne({ where: { code } });
    if (existing) {
      throw new BadRequestException(
        `Ya existe un grupo de clase con ese codigo - ${code}`,
      );
    }

    const subject = await this.subjectService.findOne(subject_id);
    const semester =
      await this.semesterService.findActiveOrPlanned(semester_id);
    const teacher = await this.teacherService.findActiveTeacher(teacher_id);

    const classGroup = this.classGroupRepo.create({
      code,
      subject,
      semester,
      teacher,
      max_students,
      name,
      academic_year: semester.academic_year,
    });

    return await this.classGroupRepo.save(classGroup);
  }

  async findOne(term: string): Promise<ClassGroup> {
    const classgroup = isUUID(term)
      ? await this.classGroupRepo.findOneBy({ id: term, is_active: true })
      : await this.classGroupRepo
          .createQueryBuilder('classgroup')
          .where(
            '(classgroup.code = :term OR classgroup.name = :term) AND classgroup.is_active = true',
            { term },
          )
          .getOne();

    if (!classgroup)
      throw new NotFoundException(`Grupo de clase no encontrado`);
    return classgroup;
  }

  private validateCapacityGroup(
    group: ClassGroup,
    studentIds: string[],
  ): string[] {
    const allReadyEnrrolledIs = group.students.map((s) => s.auth_id);
    const newStudentIds = studentIds.filter(
      (id) => !allReadyEnrrolledIs.includes(id),
    );
    if (newStudentIds.length == 0) {
      throw new BadRequestException('Todos los alumnos ya estan matriculados');
    }
    if (group.max_students) {
      const totalCapacityGroup =
        allReadyEnrrolledIs.length + newStudentIds.length;
      if (totalCapacityGroup > group.max_students) {
        throw new BadRequestException(
          `No hay cupo suficiente. Disponible: ${group.max_students - allReadyEnrrolledIs.length}, Solicitados: ${newStudentIds.length}`,
        );
      }
    }

    return newStudentIds;
  }

  async findActiveGroup(id: string): Promise<ClassGroup> {
    const classgroup = await this.classGroupRepo.findOneBy({
      id,
      is_active: true,
    });

    if (!classgroup)
      throw new BadRequestException(
        'El grupo de clase no existe o no se encuentra activo',
      );
    return classgroup;
  }

  async enrrollStudent(
    groupId: string,
    studentIds: string[],
  ): Promise<{ message: string }> {
    const group = await this.findActiveGroup(groupId);
    const newStudentIds = this.validateCapacityGroup(group, studentIds);

    await this.classGroupRepo
      .createQueryBuilder()
      .relation(ClassGroup, 'students')
      .of(groupId)
      .add(newStudentIds);

    return { message: 'alumnos registrados' };
  }

  async moveStudent(
    studentIds: string[],
    fromGroupId: string,
    toGroupId: string,
  ): Promise<void> {
    return await this.classGroupRepo.manager.transaction(
      async (manager: EntityManager) => {
        const groupDestination = await this.findActiveGroup(toGroupId);
        const newStudentIds = this.validateCapacityGroup(
          groupDestination,
          studentIds,
        );

        await manager
          .createQueryBuilder()
          .relation(ClassGroup, 'students')
          .of(fromGroupId)
          .remove(newStudentIds);

        await manager
          .createQueryBuilder()
          .relation(ClassGroup, 'students')
          .of(toGroupId)
          .add(newStudentIds);
      },
    );
  }
}
