DATABASE_URL=postgresql://postgres.mxcntpwc.........

SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiI.......

SUPABASE_URL=https://mxcntpwc......

SUPABASE_JWKS_URL=https://mxcntpwcspu...

SUPABASE_ISSUER=https://mxcntpwcspuusvzlbdri.s...

URL_LOCAL=http://.....

ATTENDANCE_RADIUS_METERS=... 










